<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @title %>的資料</h1>
        <table>
          <tr>
            <td>書名：</td>
            <td><%= @book.name %></td>
          </tr>
          <tr>
            <td>作者：</td>
            <td><%= @book.description %></td>
          </tr>
        </table>
        <%= link_to "Back", books_path %>

    </div>
  </div>
</div>